.content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  flex: 1;
}

.intro-box {
  background-color: var(--background-color);
  border: 1px var(--border-color) solid;
  border-radius: 20px;
  padding: 12px 16px;
}

.about-me-text-div div,
.about-me-text p,
.img-container,
.intro-box,
footer {
  background-color: var(--background-color);
  border: 1px var(--border-color) solid;
  border-radius: 20px;
  padding: 12px 16px;
  transition: all 0.3s;
}

.projects p {
  background-color: var(--background-color);
  border: 1px var(--border-color) solid;
  border-radius: 20px;
  padding: 20px 24px;
  transition: all 0.3s;
}

.about-me p,
.projects p,
.about-me-text-div h5 {
  color: var(--text-color);
}

.about-me .subheading,
.projects .subheading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
  color: var(--title-color);
}

.about-me-icon {
  font-size: 38px;
}

.projects {
  margin-bottom: 40px;
}

.about-me {
  display: flex;
}


@media (max-width: 768px){
  .about-me-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .placeholder-img {
    height: 148px;
  }

  .img-container {
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-me-text-div {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .about-me-text-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    flex: 1;
    gap: 8px;
    padding: 12px 8px;
  }

  .about-me-text-div h5 {
    text-align: center;
    font-weight: normal;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .about-me-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .placeholder-img {
    height: 172px;
  }

  .img-container {
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 16px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-me-text-div {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .about-me-text-div h3{
    font-size: 24px;
  }

  .about-me-text-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    flex: 1;
    gap: 8px;
    padding: 20px 16px;
    max-width: 40%;
  }

  .about-me {
    height: 400px;
  }

  .about-me-text-div h5 {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 60px;
  }

  .about-me-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .placeholder-img {
    height: 172px;
  }

  .img-container {
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 16px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-me-text-div {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .about-me-text-div h3{
    font-size: 32px;
  }

  .about-me-text-div h5 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
  }

  .about-me .subheading,
  .projects .subheading {
    font-size: 40px;
  }

  .about-me-text-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    flex: 1;
    gap: 8px;
    padding: 20px 16px;
    max-width: 40%;
  }

  .about-me {
    height: 400px;
  }

  .projects p,
  .about-me-text p {
    font-size: 18px;
  }
}