.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.hero-section {
  border-radius: 20px;
  padding: 4rem 0rem 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  max-width: 1200px;
  place-self: center;
}

.hero-text {
  flex: 1;
}

.hero-text h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--title-color);
  margin-top: 0.5rem;
  border-radius: 10px;
}

.hero-section h2 {
  margin-bottom: 2rem;
  color: var(--button-text-color);
  font-weight: 500;
  text-wrap: balance;
}

.hero-button {
  display: inline-block;
  background-color: var(--button-background-color);
  border-radius: 1.5rem;
  border: 1px var(--border-color) solid;
  padding: 0.75rem 1.5rem;
  color: var(--button-text-color);
  font-size: 1.5rem;
  transition: transform 0.3s cubic-bezier(0.2, 2.0, 0.3, 1.8), color 0.3s ease;
  letter-spacing: -0.035em;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.hero-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-radial-hover-gradient); 
  border-radius: inherit; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
  z-index: 0; 
}

.hero-button > * {
  position: relative;
  z-index: 1; 
}

.hero-button:hover {
  transform: translateY(-4px);
  color: var(--title-color);
}

.hero-button:hover::before {
  opacity: 1; 
}

.hero-button:active {
  transform: translate(0px);
}

.hero-image-container {
  flex: 1;
  width: fit-content;
  border-radius: 1rem;
  border: 1px var(--border-color) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.2, 2.0, 0.3, 1.8);
}

.hero-image-container:hover{
  transform: translateY(-8px);
}

.hero-image {
  width: 100%;
  height: 100%;
}

.about-me-text-div div,
.about-me-text p,
.img-container {
  border-radius: 20px;
  padding: 0.75rem 1rem;
  transition: all 0.3s;
}

.about-me p {
  text-wrap: pretty;
}

.about-me p,
.projects p,
.about-me-text-div h4 {
  color: var(--text-color);
}

.about-me .subheading,
.projects .subheading,
.skills .subheading,
.services .subheading {
  text-align: center;
  font-size: 2.5rem;
  color: var(--title-color);
}

.about-me .subheading {
  margin-bottom: 1.5rem;
}

.projects .subheading {
  margin-bottom: 3rem;
}

.skills .subheading,
.services .subheading {
  margin-bottom: 2.25rem;
}

.about-me-icon {
  font-size: 2.375rem;
  user-select: none;
}

.services,
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services {
  padding: 6rem 0rem 12rem;
}

.projects {
  padding: 10rem 0rem 8rem;
}

@media (max-width: 380px) {
  .about-me,
  .projects,
  .skills {
    margin: 80px 2%;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 0rem 0rem 16rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-text h1::after {
    margin: 0.5rem auto 0 auto;
  }

  .hero-image-container {
    max-width: 500px;
    margin: 0 1.25rem;
  }

  .hero-button:hover {
    transform: none;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
  }

  .hero-image-container:hover{
    transform: none;
  }

  .about-me-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .placeholder-img {
    height: 148px;
    width: auto;
  }

  .img-container {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
  }

  .hero-section h2 {
    padding: 0% 8%;
    max-width: 32ch;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14rem 0rem 6rem;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .about-me-text-div {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
  }

  .about-me-text-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex: 1;
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
  }

  .about-me-text-div h4 {
    text-align: center;
    font-weight: normal;
  }

  .skills {
    padding: 6rem 0rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-text {
    flex: 2;
  }

  .hero-image-container {
    flex: 3;
  }

  .about-me-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .placeholder-img {
    height: 172px;
    width: auto;
  }

  .img-container {
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 2rem;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16rem 0rem 14rem;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .about-me-text-div {
    display: flex;
    gap: 1.25rem;
    justify-content: space-around;
  }

  .about-me-text-div h3 {
    font-size: 1.5rem;
  }

  .about-me-text-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex: 1;
    gap: 0.5rem;
    padding: 1.25rem 1rem;
    max-width: 40%;
  }

  .about-me p {
    align-self: center;
  }

  .about-me-text-div h4 {
    text-align: center;
    font-weight: normal;
    font-size: 0.875rem;
  }
}

@media (min-width: 1025px) and (max-width: 1920px) {
  .about-me-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .placeholder-img {
    height: 172px;
    width: auto;
  }

  .img-container {
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18rem 0rem 12rem;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .about-me-text-div {
    display: flex;
    gap: 1.25rem;
    justify-content: space-around;
  }

  .about-me-text-div h3 {
    font-size: 2rem;
  }

  .about-me-text-div h4 {
    text-align: center;
    font-size: 1.125rem;
    font-weight: normal;
  }

  .about-me .subheading,
  .projects .subheading,
  .skills .subheading,
  .services .subheading {
    font-size: 3rem;
  }

  .hero-section h2 {
    font-size: 1.875rem;
    max-width: 38ch;
  }

  .about-me-text-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex: 1;
    gap: 0.5rem;
    padding: 1.25rem 1rem;
    max-width: 40%;
  }

  .projects p,
  .about-me-text p {
    font-size: 1.125rem;
  }

  .about-me p {
    padding: 1.25rem 1.5rem;
    width: 90%;
    align-self: center;
  }
}

@media (min-width: 1921px) {
  .about-me-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .placeholder-img {
    height: 172px;
    width: auto;
  }

  .img-container {
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16rem 0rem 14rem;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .about-me-text-div {
    display: flex;
    gap: 1.25rem;
    justify-content: space-around;
  }

  .about-me-text-div h3 {
    font-size: 2.25rem;
  }

  .about-me-text-div h4 {
    text-align: center;
    font-size: 1.375rem;
    font-weight: normal;
  }

  .about-me .subheading,
  .projects .subheading,
  .skills .subheading,
  .services .subheading {
    font-size: 3.5rem;
  }

  .about-me-text-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex: 1;
    gap: 0.5rem;
    padding: 1.25rem 1rem;
    max-width: 40%;
  }

  .projects p,
  .about-me-text p {
    font-size: 1.5rem;
  }

  .hero-section h2 {
    font-size: 2.375rem;
    max-width: 38ch;
  }

  .about-me p {
    padding: 1.25rem 1.5rem;
    width: 90%;
    align-self: center;
  }
}


