footer {
  margin-top: auto;
  border: 1px var(--border-color) solid;
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.connect {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.connect span {
  margin-right: 10px;
}

.email {
  display: flex;
  background-color: var(--button-background-color);
  border-radius: 10px;
  border: 1px var(--border-color) solid;
  transition: all 0.3s;
  cursor: pointer;
  color: var(--button-text-color);
  padding: 8px 10px;
}

.email h4 {
  font-weight: normal;
}

.email:hover {
  color: var(--title-color);
  background-color: var(--button-hover);
}

.info h2 {
  font-size: 32px;
  margin-bottom: 6px;
}

.info hr {
  border: 1px var(--border-color) solid;
  border-radius: 100px;
  width: 100%;
}

.message-button {
  background-color: var(--button-background-color);
  border-radius: 10px;
  border: 1px var(--border-color) solid;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-text-color);
  padding: 8px 10px;
  transition: all 0.3s;
  font-size: 16px;
}

.chat-icon {
  margin-right: 10px;
}

.message-button:hover {
  background-color: var(--button-hover);
  color: var(--title-color);
}

.message-text span{
  font-size: 26px;
  display: block;
}

.message-button:hover span,
.email:hover span {
  scale: 1.1;
}

.connect h4 {
  margin: 4px 0px;
}

@media (min-width:600px) and (max-width: 768px) {
  .message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
  }

  .message-button {
    padding: 10px 12px
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
  }

  .message-button {
    padding: 12px
  }

  .info h2{
    font-size: 38px;
  }

  .message-text span{
    font-size: 28px;
  }

  .email h4{
    font-size: 16px;
    font-weight: normal;
  }

  .connect {
    font-size: 24px;
  }
}

@media (min-width: 1025px) and (max-width: 1920px) {
  .message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
  }

  .message-button {
    padding: 12px
  }

  .info h2{
    font-size: 54px;
  }

  .message-text span{
    font-size: 36px;
  }

  .email h4{
    font-size: 16px;
    font-weight: normal;
  }

  .connect {
    font-size: 24px;
  }
}
