@media (max-width: 768px) {
  .header {
    height: 48px;
    position: fixed;
    top: 20px;
    left: 2%;
    right: 2%;
    border: 1px var(--border-color) solid;
    border-radius: 24px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--header-background-color);
    transition: all 0.3s;
    user-select: none;
  }

  .logo {
    width: 60px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }

  .menu-icon {
    font-size: 44px;
    color: var(--button-text-color);
    transition: color 0.3s;
    user-select: none;
  }

  .menu-button {
    background-color: var(--button-background-color);
    transition: background-color 1s;
    border-radius: 12px;
    border: 1px var(--border-color) solid;
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }

  .right-section {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    position: absolute;
    background-color: var(--button-background-color);
    z-index: 1;
    right: 0;
    top: 75px;
    border-radius: 16px;
    border: 1px var(--border-color) solid;
    padding: 6px;
    width: 160px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .dropdown-content a {
    padding: 16px;
    border-radius: 10px;
    transition: all 0.3s;
    color: var(--button-text-color);
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .theme-button {
    background-color: var(--button-background-color);
    border-radius: 12px;
    border: 1px var(--border-color) solid;
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .theme-icon {
    font-size: 44px;
    color: var(--button-text-color);
    transition: color 0.3s;
  }

  .dropdown-content a:hover {
    background-color: var(--button-hover);
    color: var(--title-color);
  }

  .dropdown-content span {
    transition: all 0.15s;
  }

  .dropdown-content a:hover span {
    scale: 1.2;
    transform: translateY(2px);
  }

  .dropdown-content.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

  .right-section:focus-within .menu-icon {
    color: var(--title-color);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    height: 42px;
    position: fixed;
    top: 14px;
    left: 3%;
    right: 3%;
    border: 1px var(--border-color) solid;
    border-radius: 24px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--header-background-color);
    transition: all 0.3s;
    user-select: none;
  }

  .logo {
    width: 48px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }

  .menu-icon {
    font-size: 48px;
    color: var(--button-text-color);
    transition: color 0.3s;
  }

  .menu-button {
    background-color: var(--button-background-color);
    transition: background-color 1s;
    border-radius: 10px;
    border: 1px var(--border-color) solid;
    transition: background-color 0.3s;
    cursor: pointer;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .menu-button:hover,
  .theme-button:hover {
    background-color: var(--button-hover);
  }

  .menu-button:hover .menu-icon {
    color: var(--title-color);
  }

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }

  .right-section {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    background-color: var(--button-background-color);
    border-radius: 12px;
    border: 1px var(--border-color) solid;
    padding: 4px;
    transition: all 0.3s;
    display: flex;
    gap: 6px;
  }

  .dropdown-content a {
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    color: var(--button-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    padding: 6px 0px;
  }

  .theme-button {
    background-color: var(--button-background-color);
    border-radius: 10px;
    border: 1px var(--border-color) solid;
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
  }

  .theme-icon {
    font-size: 36px;
    color: var(--button-text-color);
    transition: color 0.3s;
  }

  .theme-button:hover .theme-icon {
    color: var(--title-color);
  }

  .dropdown-icon {
    margin-right: 10px;
  }

  .dropdown-content a:hover {
    background-color: var(--button-hover);
    color: var(--title-color);
  }

  .dropdown-content span {
    transition: all 0.15s;
  }

  .dropdown-content a:hover span {
    scale: 1.1;
    transform: translateY(2px);
  }
}

@media (min-width: 1024px) {
  .header {
    height: 38px;
    position: fixed;
    top: 14px;
    left: 5%;
    right: 5%;
    margin: 0 auto;
    max-width: 1600px;
    border: 1px var(--border-color) solid;
    border-radius: 24px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--header-background-color);
    transition: all 0.3s;
    user-select: none;
  }

  .logo {
    width: 44px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 8px 6px;
    transition: all 0.3s;
  }

  .menu-icon {
    font-size: 48px;
    color: var(--button-text-color);
    transition: color 0.3s;
  }

  .menu-button {
    background-color: var(--button-background-color);
    transition: background-color 1s;
    border-radius: 10px;
    border: 1px var(--border-color) solid;
    transition: background-color 0.3s;
    cursor: pointer;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .menu-button:hover,
  .theme-button:hover {
    background-color: var(--button-hover);
  }

  .menu-button:hover .menu-icon {
    color: var(--title-color);
  }

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }

  .right-section {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    background-color: var(--button-background-color);
    border-radius: 12px;
    border: 1px var(--border-color) solid;
    padding: 2px;
    transition: all 0.3s;
    display: flex;
    gap: 6px;
  }

  .dropdown-content a {
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    color: var(--button-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    padding: 6px 0px;
  }

  .theme-button {
    background-color: var(--button-background-color);
    border-radius: 10px;
    border: 1px var(--border-color) solid;
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
  }

  .theme-icon {
    font-size: 32px;
    color: var(--button-text-color);
    transition: color 0.3s;
  }

  .theme-button:hover .theme-icon {
    color: var(--title-color);
  }

  .dropdown-icon {
    margin-right: 10px;
  }

  .dropdown-content a:hover {
    background-color: var(--button-hover);
    color: var(--title-color);
  }

  .dropdown-content span {
    transition: all 0.15s;
  }

  .dropdown-content a:hover span {
    scale: 1.1;
    transform: translateY(2px);
  }
}
