.theme-button {
  background-color: var(--button-background-color);
  border-radius: 10px;
  border: 1px var(--border-color) solid;
  transition: background-color 0.3s;
  cursor: pointer;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .header {
    height: 56px;
    position: fixed;
    top: 20px;
    left: 2%;
    right: 2%;
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--header-background-color);
    transition: all 0.3s;
  }

  .logo {
    width: 60px;
    color: grey;
  }

  .logo-container {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border: 1px var(--background-color) solid;
    border-radius: 10px;
    padding: 8px 6px;
    transition: all 0.3s;
  }

  .logo-container:hover {
    background-color: var(--button-background-color);
    border: 1px var(--border-color) solid;
  }

  .menu-icon {
    font-size: 48px;
    color: var(--button-text-color);
    transition: color 0.3s;
    user-select: none;
  }

  .menu-button {
    background-color: var(--button-background-color);
    transition: background-color 1s;
    border-radius: 10px;
    border: 1px var(--border-color) solid;
    transition: background-color 0.3s;
    cursor: pointer;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-button:hover .menu-icon {
    color: var(--title-color);
  }

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }

  .right-section {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    position: absolute;
    background-color: var(--button-background-color);
    z-index: 1;
    right: 0;
    top: 75px;
    border-radius: 10px;
    border: 1px var(--border-color) solid;
    padding: 6px;
    width: 200px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .dropdown-content a {
    padding: 16px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s;
    color: var(--button-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown-icon {
    margin-right: 10px;
  }

  .dropdown-content a:hover {
    background-color: var(--button-hover);
    color: var(--title-color);
  }

  .dropdown-content a:hover span {
    scale: 1.1;
  }

  .right-section:focus-within .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

  .right-section:focus-within .menu-icon {
    color: var(--title-color);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    height: 56px;
    position: fixed;
    top: 20px;
    left: 1%;
    right: 1%;
    background-color: var(--background-color);
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--header-background-color);
    transition: all 0.3s;
  }

  .logo {
    width: 60px;
    color: grey;
  }

  .logo-container {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border: 1px var(--background-color) solid;
    border-radius: 10px;
    padding: 8px 6px;
    transition: all 0.3s;
  }

  .logo-container:hover {
    background-color: var(--button-background-color);
    border: 1px var(--border-color) solid;
  }

  .menu-icon {
    font-size: 48px;
    color: var(--button-text-color);
    transition: color 0.3s;
  }

  .menu-button {
    background-color: var(--button-background-color);
    transition: background-color 1s;
    border-radius: 10px;
    border: 1px var(--border-color) solid;
    transition: background-color 0.3s;
    cursor: pointer;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .menu-button:hover .menu-icon {
    color: var(--title-color);
  }

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }

  .right-section {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    background-color: var(--button-background-color);
    z-index: 1;
    height: 38px;
    right: 0;
    top: 0;
    border-radius: 10px;
    border: 1px var(--border-color) solid;
    padding: 6px;
    transition: all 0.3s;
    display: flex;
    background-color: var(--background-color);
    gap: 6px;
  }

  .dropdown-content a {
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    color: var(--button-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
  }

  .dropdown-icon {
    margin-right: 10px;
  }

  .dropdown-content a:hover {
    background-color: var(--button-hover);
    color: var(--title-color);
  }

  .dropdown-content a:hover span {
    scale: 1.1;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 56px;
    position: fixed;
    top: 20px;
    left: 5%;
    right: 5%;
    background-color: var(--background-color);
    border: 1px var(--border-color) solid;
    border-radius: 20px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--header-background-color);
    transition: all 0.3s;
  }

  .logo {
    width: 60px;
    color: grey;
  }

  .logo-container {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border: 1px var(--background-color) solid;
    border-radius: 10px;
    padding: 8px 6px;
    transition: all 0.3s;
  }

  .logo-container:hover {
    background-color: var(--button-background-color);
    border: 1px var(--border-color) solid;
  }

  .menu-icon {
    font-size: 48px;
    color: var(--button-text-color);
    transition: color 0.3s;
  }

  .menu-button {
    background-color: var(--button-background-color);
    transition: background-color 1s;
    border-radius: 10px;
    border: 1px var(--border-color) solid;
    transition: background-color 0.3s;
    cursor: pointer;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .menu-button:hover .menu-icon {
    color: var(--title-color);
  }

  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }

  .right-section {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    background-color: var(--button-background-color);
    z-index: 1;
    height: 38px;
    right: 0;
    top: 0;
    border-radius: 10px;
    border: 1px var(--border-color) solid;
    padding: 6px;
    transition: all 0.3s;
    display: flex;
    gap: 6px;
  }

  .dropdown-content a {
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    color: var(--button-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
  }

  .dropdown-icon {
    margin-right: 10px;
  }

  .dropdown-content a:hover {
    background-color: var(--button-hover);
    color: var(--title-color);
  }

  .dropdown-content a:hover span {
    scale: 1.1;
  }
}
