.header {
  height: 38px;
  position: fixed;
  top: 0.875rem;
  left: 5%;
  right: 5%;
  margin: 0 auto;
  max-width: 1600px;
  border: 1px var(--border-color) solid;
  border-radius: 24px;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--header-background-color);
  transition: all 0.3s;
  user-select: none;
}

.logo {
  width: 2.65rem;
  height: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem 0.375rem;
  transition: all 0.3s;
}

.menu-button {
  border: none;
  cursor: pointer;
  right: 0;
  display: none;
}

.theme-button:hover {
  background-color: var(--button-hover);
}

.menu-button:hover .menu-icon:hover {
  color: var(--title-color);
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.right-section {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: var(--button-background-color);
  border-radius: 12px;
  border: 1px var(--border-color) solid;
  padding: 0.125rem;
  transition: all 0.3s;
  display: flex;
  gap: 0.375rem;
}

.dropdown-content a {
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  color: var(--button-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.375rem 1rem;
}

.theme-button {
  background-color: var(--button-background-color);
  border-radius: 12px;
  border: 1px var(--border-color) solid;
  transition: background-color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem;
}

.theme-icon {
  font-size: 1.5rem;
  color: var(--button-text-color);
  transition: color 0.3s, transform 0.15s;
}

.theme-button:hover .theme-icon {
  color: var(--title-color);
}

.theme-button:active .theme-icon {
  transform: scale(0.85);
}

.dropdown-content a:hover {
  background-color: var(--button-hover);
  color: var(--title-color);
}

.dropdown-content span {
  transition: all 0.15s;
}

.dropdown-content a:hover span {
  scale: 1.1;
  transform: translateY(2px);
}

.dropdown-content a:active span {
  scale: 1;
  transform: translateY(0px);
}



@media (max-width: 768px) {
  .header {
    top: 0.5rem;
    left: 2%;
    right: 2%;
  }

  .menu-icon {
    font-size: 1.75rem;
    color: var(--button-text-color);
    transition: color 0.3s;
    user-select: none;
  }

  .menu-button {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.375rem;
  }

  .left-section {
    gap: 0.5rem;
  }

  .dropdown-content {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    position: absolute;
    background-color: var(--button-background-color);
    z-index: 1;
    right: 0;
    top: 4.5rem;
    border-radius: 16px;
    border: 1px var(--border-color) solid;
    padding: 0.375rem;
    width: 142px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }

  .dropdown-content a {
    padding: 0.75rem;
    border-radius: 10px;
    transition: all 0.3s;
    color: var(--button-text-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.625rem;
  }

  .theme-button {
    background-color: var(--button-background-color);
    border-radius: 12px;
  }

  .theme-button:hover {
    background-color: var(--button-background-color);
  }

  .theme-button:hover .theme-icon {
    color: var(--button-text-color);
  }

  .dropdown-content a:hover {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
  }

  .dropdown-content a:hover span {
    transform: none;
    scale: 1;
  }

  .dropdown-content.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

  .right-section:focus-within .menu-icon {
    color: var(--title-color);
  }
}



