.projects-container {
  max-width: 1000px;
  margin: 0 auto;
}


.project-title {
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 1rem;
}

.project-card {
  border: 1px var(--border-color) solid;
  border-radius: 24px;
  padding: 1.25rem;
  transition: transform 0.3s ease,;
  max-width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
  transition: all 0.3s;
}

.project-info {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image-container {
  max-width: 500px;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 16px;
}

.tech-stack {
  display: flex;
  gap: 0.5rem;
}

.tech-stack div {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 12px;
  padding: 0.5rem;
  font-size: 0.75rem;
  border: 1px var(--border-color) solid;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-card {
    flex-direction: column;
  }

  .project-info {
    max-width: 500px;
  }
}

@media (min-width: 2561px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-container {
    max-width: 1800px;
  }
}